@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 font-sans antialiased;
}

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@screen md {
  .container {
    @apply px-6;
  }
}

@screen lg {
  .container {
    @apply px-8;
  }
}
